    /* Reset CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Body */
    body {
        font-family: sans-serif;
        font-size: 16px;
        color: #333;
    }

    /* Header */
    header {
        background-color: #000;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .logo img {
        width: 100px;
        height: 50px;
    }

    .ten-trang-web h1 {
        color: #fff;
        font-size: 24px;
        margin-left: 20px;
    }

    .menu {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu ul {
        list-style: none;
        display: flex;
    }

    .menu ul li {
        margin-right: 20px;
    }

    .menu ul li a {
        color: #fff;
        text-decoration: none;
    }

    .menu ul li a:hover {
        color: #ccc;
    }

    /* Content */
    .content {
        margin-top: 20px;
        display: flex;
    }

    .ben-trai {
        width: 60%;
        padding: 0 20px;
    }

    .bieu-do-gia {
        width: 100%;
        height: 300px;
    }

    .chon-cap-tien-te {
        margin-top: 20px;
    }

    .chon-cap-tien-te select {
        width: 200px;
        height: 30px;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .ben-phai {
        width: 40%;
        padding: 0 20px;
    }

    .cai-dat-bot,
    .trang-thai-lenh {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .cai-dat-bot h2,
    .trang-thai-lenh h2 {
        margin-top: 0;
    }

    .cai-dat-bot input {
        width: 100%;
        height: 30px;
        padding: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .cai-dat-bot button {
        width: 100%;
        height: 30px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .trang-thai-lenh table {
        width: 100%;
        border-collapse: collapse;
    }

    .trang-thai-lenh table tr th,
    .trang-thai-lenh table tr td {
        border: 1px solid #ccc;
        padding: 5px;
    }

    /* Footer */
    footer {
        background-color: #000;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .thong-tin-lien-he h2 {
        color: #fff;
        margin: 0;
    }

    .thong-tin-lien-he p {
        color: #ccc;
        margin-top: 5px;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    .centered-content {
        width: 100%;
        max-width: 800px;
        /* Điều chỉnh độ rộng tối đa của nội dung */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account-settings {
        width: 100%;
        margin-top: 20px;
        /* Điều chỉnh khoảng cách từ nội dung trên */
    }

    .mt-2{
        margin-top: 10px;
    }