<div class="content">
    <div class="ben-phai">
        <div class="cai-dat-bot">
            <h2>Đăng nhập để kết nối với ví binnance của bạn</h2>
            <div >
                <input type="text" name="username" placeholder="Tên đăng nhập">
                <input type="text" name="password" placeholder="Mật khẩu">
                <input type="password" name="apiKey" placeholder="Api Key">
                <input type="password" name="apiSecretKey" placeholder="Api Secret Key">
                <button type="button" id="accountForm">Kết nối</button>
            </div>
            <span style="margin-top: 10px;">- Vui Lòng kết nối và nhập key kết nối để tạo bot giao dịch
             <br> - Bạn nên setting IP trong API Binance để bảo mật tốt hơn.
            </span>
        </div>
        <div class="trang-thai-lenh">
            <h2>Trạng thái kết nối</h2>
            <table>
                <tr>
                    <th>Account Id</th>
                    <th>Key connect</th>
                    <th>Ngày Kểt Nối</th>
                    <th>Trạng thái</th>
                </tr>
                <tr>
                    <td id="accountTxt"></td>
                    <td id="keyTxt"></td>
                    <td id="update"></td>
                    <td id="status"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var response = {};
        $('#accountForm').click(function(e) {
            e.preventDefault(); // Ngăn chặn form gửi dữ liệu mặc định
            // Lấy dữ liệu từ form
            var formData = {
                username: $('input[name=username]').val(),
                password: $('input[name=password]').val(),
                apiKey: $('input[name=apiKey]').val(),
                apiSecretKey: $('input[name=apiSecretKey]').val()
            };
            // Gửi yêu cầu POST đến API endpoint
            $.ajax({
                type: 'POST',
                url: '/api/account/addAccount',
                contentType:'application/json', 
                data: JSON.stringify(formData),
                success: function(response) {   
                    var message = response.message;
                    var data = response.data;
                    $("#accountTxt").text(data._id);
                    $("#keyTxt").text(data.key);
                    $("#update").text(Date.now());
                    $("#status").text("Đang kết nối");

                    setTimeout(function() {
                        alert('Kết nối thành công. Bạn có thể sử dụng key này để tạo bot: ' + data.key);
                    }, 1000);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

</script>
