<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>
    <div id="message-container"></div>
    <!-- Thêm trường input và nút gửi tin nhắn -->
    <input type="text" id="message-input" placeholder="Type your message here">
    <button id="send-button">Send</button>

    <script>
        //const socket = new WebSocket('ws://localhost:3000/');
        const socket = new WebSocket('wss://api-node-js-kj9e.onrender.com/');
        socket.addEventListener('open', function (event) {
            console.log('Connected to WebSocket server');
        });
        socket.addEventListener('message', function (event) {
            console.log('Received message from server:', event.data);
            const messageContainer = document.getElementById('message-container');
            messageContainer.innerHTML += `<p>${event.data}</p>`;
        });
        socket.addEventListener('close', function (event) {
            console.log('Connection closed');
        });

        // Xử lý sự kiện khi nhấn nút gửi tin nhắn
        document.getElementById('send-button').addEventListener('click', function () {
            // Lấy giá trị từ trường input
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value;
            // Gửi tin nhắn tới server
            socket.send(message);
            // Xóa nội dung của trường input sau khi gửi tin nhắn
            messageInput.value = '';
        });

        // Xử lý sự kiện khi nhấn phím Enter trong trường input
        document.getElementById('message-input').addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                // Ngăn chặn hành động mặc định của phím Enter (chẳng hạn như gửi form)
                event.preventDefault();
                // Gửi tin nhắn tới server
                document.getElementById('send-button').click();
            }
        });
    </script>
</body>
</html>
