<div class="content">
    <div class="ben-trai">
        <div class="chon-cap-tien-te">
            <select name="cap-tien-te">
                <option value="ETHUSDT">ETH/USDT</option>
                <option value="BTCUSDT">BTC/USDT</option>
            </select>
        </div>
        <div class="bieu-do-gia" id="tv_chart_container"></div>
    </div>
    <div class="ben-phai">
        <div class="cai-dat-bot">
            <h2>Cài đặt tạo bot theo chiến thuật</h2>
            <form action="#">
                <input type="text" name="ten-bot" placeholder="Tên bot">
                <input type="text" name="chien-luoc" placeholder="Chiến thuật">
                <input type="text" name="chien-luoc" placeholder="Key kết nối">

                <button type="submit">Kiểm tra kết nối</button>
                <span>Chỉ cần nhập key kết nối để kiểm tra kết nối trước khi tạo bot</span>
                <button type="submit" class="mt-2">Tạo bot</button>
            </form>
        </div>
        <div class="trang-thai-lenh">
            <h2>Trạng thái lệnh</h2>
            <table>
                <tr>
                    <th>STT</th>
                    <th>Ngày xác nhận</th>
                    <th>Số tiền</th>
                    <th>Trạng thái</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2024-03-14</td>
                    <td>100 ETH</td>
                    <td>Đang thực hiện</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2024-03-13</td>
                    <td>50 BTC</td>
                    <td>Hoàn thành</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // Lấy giá trị mặc định từ select
        var defaultSymbol = $('select[name="cap-tien-te"]').val();
        
        // Tạo biểu đồ mặc định khi trang được tải
        createChart(defaultSymbol);
        
        // Lắng nghe sự kiện khi thay đổi lựa chọn trong select
        $('select[name="cap-tien-te"]').on("change", function() {
            // Lấy giá trị đã chọn từ select
            var selectedSymbol = $(this).val();
            
            // Tạo biểu đồ mới với symbol đã chọn
            createChart(selectedSymbol);
        });
    });

    // Hàm tạo biểu đồ dựa trên symbol được chọn
    function createChart(symbol) {
        new TradingView.widget(
            {
                "width": 800,
                "height": 400,
                "symbol": "BINANCE:" + symbol, // Symbol được tạo bằng cách kết hợp "BINANCE:" với giá trị đã chọn
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tv_chart_container"
            }
        );
    }
</script>

