
<div class="container" style="margin-left: 20px;">
    <div class="main-content">
        <br>
        <div class="left-column">
            <h2>Giới thiệu</h2>
            <p>Chào mừng đến với trang web giao dịch tiền điện tử. Chúng tôi cung cấp một nền tảng giao dịch an toàn và tiện lợi cho người dùng.</p>
            <p>Bạn có thể truy cập vào nền tảng của chúng tôi từ bất kỳ thiết bị nào có kết nối internet và bắt đầu giao dịch ngay bây giờ!</p>
        </div>
        <br>
        <div class="left-column">
            <h2>Liên hệ</h2>
            <p>Số điện thoại: 0914527284</p>
            <p>Email: petertranhoanglinh@gmail.com</p>
        </div>
        <br>
        <div class="left-column">
            <h2>Công nghệ</h2>
            <p>Công nghệ tích hợp: NodeJS ,ExpressJs, mongodb</p>
            <br>
            <p>Giao diện hiện tại chỉ tương thích với PC</p>
        </div>
    </div>
</div>


    
