<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Giao dịch tiền điện tử</title>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../asset/js/socket.io.js"></script>
        <link rel="stylesheet" href="../asset/css/style.css">
    </head>
<body>
    <!-- Your header content here -->
    <header>
        <div class="logo">
            <img src="../asset/img/logo.png" alt="Logo">
        </div>
        <div class="ten-trang-web">
            <h1>Giao dịch tiền điện tử</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/tai-khoan">Tài khoản của bạn</a></li>
                <li><a href="/gioi-thieu">Giới thiệu</a></li>
            </ul>
        </div>
    </header>
    <!-- Content Section -->
    <main>
        <!-- This is where the content of specific pages will be inserted -->
        <%- body %>
        <%- script %>
    </main>
    <!-- Your footer content here -->
    <!-- <footer>
        <p>Footer Content</p>
    </footer> -->
</body>
</html>
